.parent {
  position: relative;
}

.child {
  width: 300px;
  height: 238px;
  /* border: 1px solid #848D82; */

  position: absolute;
  left: 50%;

  text-align: center;

  transform: translate(-50%, 100%);
}

.play {
  width: 78px;
  height: 78px;
  /* border: 1px solid #848D82; */
  border-bottom: 0;

  position: absolute;
  left: -80px;
  top: -1px;

  background: url(../images/play.png) no-repeat center center;
  background-size: 50px;
}

.stop {
  width: 78px;
  height: 78px;
  /* border: 1px solid #848D82; */
  border-bottom: 0;

  position: absolute;
  left: -80px;
  top: 79px;

  background: url(../images/stop.png) no-repeat center center;
  background-size: 50px;
}

.switch {
  width: 78px;
  height: 78px;
  /* border: 1px solid #848D82; */

  position: absolute;
  left: -80px;
  top: 159px;

  background: url(../images/pause.png) no-repeat center center;
  background-size: 50px;
}

.refresh {
  width: 78px;
  height: 78px;
  /* border: 1px solid #848D82; */
  border-bottom: 0;

  position: absolute;
  right: -80px;
  top: -1px;

  background: url(../images/refresh.png) no-repeat center center;
  background-size: 50px;
}

.minutes {
  width: 78px;
  height: 78px;
  /* border: 1px solid #848D82; */
  border-bottom: 0;

  position: absolute;
  right: -80px;
  top: 79px;
  transform: rotate(-90deg);

  background: url(../images/minutes.png) no-repeat center center;
  background-size: 50px;
}

.seconds {
  width: 78px;
  height: 78px;
  /* border: 1px solid #848D82; */

  position: absolute;
  right: -80px;
  top: 159px;
  transform: rotate(90deg);

  background: url(../images/minutes.png) no-repeat center center;
  background-size: 50px;
}

.title {
  height: 40px;
  width: 300px;

  font-size: 2.0em;

  position: absolute;
  top: -40px;

  text-align: center;
}

.time {
  height: 120px;
  width: 220px;
  border: 1.5px solid black;
  border-radius: 30px;

  position: absolute;
  left: 50%;
  top: 50%;

  text-align: center;

  transform: translate(-50%, -50%);
}

h1 {
  display: inline;
}

.title img {
  transform: rotate(30deg);
}

span {
  font-size: 4.5em;
  line-height: 120px;
}

body {
  background-color: #ECE59A;
  font-family: "Love Ya Like A Sister";
}

.button {
  cursor: pointer;
}
